# Task 1

---

## Web scraping and analysis

This Jupyter notebook includes some code to get you started with web scraping. We will use a package called `BeautifulSoup` to collect the data from the web. Once you've collected your data and saved it into a local `.csv` file you should start with your analysis.

### Scraping data from Skytrax

If you visit [https://www.airlinequality.com] you can see that there is a lot of data there. For this task, we are only interested in reviews related to British Airways and the Airline itself.

If you navigate to this link: [https://www.airlinequality.com/airline-reviews/british-airways] you will see this data. Now, we can use `Python` and `BeautifulSoup` to collect all the links to the reviews and then to collect the text data on each of the individual review links.

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [ ]:
base_url = "https://www.airlinequality.com/airline-reviews/british-airways"
pages = 3
page_size = 100

global rating, Aircraft, Class, Travel_type, Route, Date, comfort, staff, food, entertainment, wifi, ground_service, vfm, recommend

verified=[]
rating=[]
feedback=[]
Aircraft=[]
Class=[]
Travel_type=[]
Route=[]
Date=[]
comfort=[]
staff=[]
food=[]
entertainment=[]
wifi=[]
ground_service=[]
vfm=[]
recommend=[]

# for i in range(1, pages + 1):
for i in range(1, pages + 1):

    print(f"Scraping page {i}")

    # Create URL to collect links from paginated data
    url = f"{base_url}/page/{i}/?sortby=post_date%3ADesc&pagesize={page_size}"

    # Collect HTML data from this page
    response = requests.get(url)

    # Parse content
    content = response.content
    parsed_content = BeautifulSoup(content, 'html.parser')
    

    for row in parsed_content.find_all("div", {"class": "tc_mobile"}):
        my_data = {
            'Comment': parsed_content.find("div", {"class": "text_content"}).get_text()
        }
        #my_data2.append(['Comment', parsed_content.find("div", {"class": "text_content"}).get_text()])
        #print(my_data)
        #print(my_data2)
        my_data2=[]
        table = row.find_all('table')[0]
        my_data2.append(my_data)
        for tr in  table.select('table.review-ratings tr'):            
            header=tr.find('td',class_='review-rating-header').text
            if tr.find('td',class_='review-value') :
                value=tr.find('td',class_='review-value').text
            else :
                value=len(tr.find('td',class_='review-rating-stars').select('.star.fill'))
            my_data5 = {header:value}
            my_data2.append(my_data5)
            print(my_data5)
        
#        my_data = ({tr.td.text:len(tr.select('.star.fill')) for tr in table.select('table.review-ratings tr')})

        print(my_data)
        print("Table -->")
        print(my_data2)
       #. for td in table.children:
#       print(table)
         #   print(td[1])
        
       # e.td.text:len(e.select('.star.fill')) for e in soup.select('table.review-ratings tr')}

#    print(my_data)
#   for row in parsed_content.find_all("div", {"class": "review-stats"}):
##      table = row.find_all('table')[0]
 #      print(table)
        
#        review_details = pd.read_html(str(table))
#        print(review_details[0])
        
        #        header=row.find('td',class_='review-rating-header').text
#        value=row.find('td',class_='review-value')
#        if header=='Type Of Traveller':
#            print(header)
#            print(value.text)
            #Aircraft[0]=value.text
        
 

# div class review-ratings and then iterate through trs and tds... for a given rate... 


 #   for i, row in enumerate(parsed_content.find_all('tr')):
 #       if i == 0:
 #           header = [el.text.strip() for el in row.find_all('th')]
 #       else:
 #           rows.append([el.text.strip() for el in row.find_all('td')])
    
    #for para in parsed_content.find_all("div", {"class": "text_content"}):
#        reviews.append(para.get_text())

#rows = BeautifulSoup.find_all('tr')
#print(rows[:10])
    
#    for para2 in parsed_content.find_all("tr", {"class": "review-rating-header aircraft "}):
#           review_value.append(para2.get_text())
#           print(review_value)
    
#    print(f"   ---> {len(review_value)} review-rating-header aircraft ")

In [144]:
#df = pd.DataFrame()
#df["reviews"] = reviews
#df
df2 = pd.DataFrame()
df2["rows"] = rows
df2

                                 rows
0     [Inflight Entertainment, 12345]
1               [Seat Comfort, 12345]
2              [Staff Service, 12345]
3            [Value for Money, 12345]
4                   Type Of Traveller
...                               ...
6595                            12345
6596                  Value For Money
6597                            12345
6598                      Recommended
6599                               no

[6600 rows x 1 columns]

In [4]:
df.to_csv("data/BA_reviews.csv")

Congratulations! Now you have your dataset for this task! The loops above collected 1000 reviews by iterating through the paginated pages on the website. However, if you want to collect more data, try increasing the number of pages!

 The next thing that you should do is clean this data to remove any unnecessary text from each of the rows. For example, "✅ Trip Verified" can be removed from each row if it exists, as it's not relevant to what we want to investigate.

In [5]:
df

                                               reviews
0    ✅ Trip Verified |  I will never travel with Br...
1    ✅ Trip Verified |  I am already in Portugal so...
2    ✅ Trip Verified |  Terrible. Avoid this airlin...
3    ✅ Trip Verified |  Despite being a gold member...
4    Not Verified | Regarding the aircraft and seat...
..                                                 ...
995  ✅ Trip Verified |  Had four flights in total w...
996  ✅ Trip Verified |  Johannesburg to Heathrow. B...
997  ✅ Trip Verified |  The queue for bag drop was ...
998  ✅ Trip Verified |  British Airways changed pla...
999  ✅ Trip Verified |  Mumbai to Edinburgh via Lon...

[1000 rows x 1 columns]